ul{
    list-style-type:none;
}

ul li{
    background-color:grey;
    padding:5px;
    margin-top:5px;
    display: flex;
    justify-content: space-between;
}

ul li span{
    color:white;
}